body{
  background: #9c8080;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header div{
  position: absolute;
  width: 722px;
  height: 75.91px;
  background: #D3CBCB;
  position: absolute;
}

#content{
  position: absolute;
  width: 722px;
  height: 75.91px;
  background: #D3CBCB;
  position: absolute;

}

img{
  border-radius: 9px;
  transition: 0.5s ease-in-out;
}

img:hover{
  transform: scale(1.1);
  filter: grayscale(100%);

}

p{
  margin: 0;
  font-size: 16px;
}

.about div{
  position: absolute;
  width: 687.26px;
  height: 279.84px;
  background: #D9D9D9;
  border-radius: 9px;
}








