body{
  background: #938989;
}


.image-div{
  position: fixed;
  width: 165px;
  height: 192.5px;
  border: 1px solid #5c5b5b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

h1{
  font-size: small;
}