body{
  background: #9c8080;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content{
  width: 1000px;
  padding: 25px;
  margin: auto;
  background-color: rgba(197, 188, 188, 0.644);
  border-radius: 8px;

}

img{
  border-radius: 9px;
  transition: 0.5s ease-in-out;
}

img:hover{
  transform: scale(1.1);
  filter: grayscale(100%);

}

p{
  margin: 0;
  font-size: 16px;
}



.login {
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: rgb(212, 210, 210);
}

.login  h1{
  font-size: 36px;
  margin-bottom: 25px;

}

.login form{
  font-size: 20px;

}


.login form .form-group{
   margin-bottom: 12px;

}

.login form input[type="submit"]{
  font-size: 20px;
  margin-top: 15px;
}

