{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="auto">
<head><script src="../assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="icon" href="{% static 'assets/icons8-add-shopping-cart-48.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Home</title>
    
</head>
<body>
    <div id="header">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-4">WILIZ3D STORE</span>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="{% url 'main:home' %}"  class="btn btn-outline-secondary btn-sm" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'main:signup' %}" class="btn btn-outline-secondary btn-sm">Signup</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'main:signin' %}"  class="btn btn-outline-secondary btn-sm">Signin</a>
          </li>
          <h6 class="nav-item">
            <a href="{% url 'main:abt' %}" class="btn btn-outline-secondary btn-sm">About</a>
          </h6>
        </ul>
      </header>
    </div>
    <div class="container">
      {% if request.user.is authenticated %}
      {% else %}
      {% endif %}
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
